<div *ngFor="let ad of ads">
  <mat-card>
      <mat-card-header>
          <mat-card-title>
              <h4>{{ad.title}}</h4>
              <button mat-button routerLink="/">Delete</button>
              <button mat-button routerLink="/">Edit</button>
          </mat-card-title>
      </mat-card-header>   
      <mat-card-content>
          <mat-list>
              <mat-list-item> Author:  {{ad?.author}}</mat-list-item>
              <mat-list-item> Created at:  {{ad?.created_at}}</mat-list-item>
              <mat-list-item> Description: {{ad?.description}}</mat-list-item>
          </mat-list>
      </mat-card-content> 
  </mat-card>  
</div>