<div *ngFor="let ad of ads">
  <mat-card>
      <mat-card-header>
          <mat-card-title>             
              <h4>{{ad.title}}</h4>
              <button mat-button routerLink="/">Delete</button>
              <button mat-button routerLink="/">Edit</button>
          </mat-card-title>
      </mat-card-header>   
      <mat-card-content>
          <mat-list>
              <mat-list-item> Author:  {{ad?.author}}</mat-list-item>
              <mat-list-item> Created at:  {{ad?.created_at | date }}</mat-list-item>
              <mat-list-item> Description: {{ad?.description}}</mat-list-item>
          </mat-list>
      </mat-card-content> 
  </mat-card>  
</div>


<div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource">
  
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
  
      <!-- Position Column -->
      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef> title </mat-header-cell>
        <mat-cell *matCellDef="let ad"> {{ad.title}} </mat-cell>
      </ng-container>
  
     
    <ng-container matColumnDef="author">
        <mat-header-cell *matHeaderCellDef> author </mat-header-cell>
        <mat-cell *matCellDef="let ad"> {{ad.author}} </mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="created_at">
        <mat-header-cell *matHeaderCellDef> created_at </mat-header-cell>
        <mat-cell *matCellDef="let ad"> {{ad.created_at}} </mat-cell>
      </ng-container>
  
    
      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef> description </mat-header-cell>
        <mat-cell *matCellDef="let ad"> {{ad.description}} </mat-cell>
      </ng-container> 
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator #paginator
                 [pageSize]="2"
                 [pageSizeOptions]="[2, 5, 10, 20]"
                 [showFirstLastButtons]="true">
    </mat-paginator> 
  </div>
  