
<mat-card>
  <mat-card-header>
      <mat-card-title>
          <h4>Register New User</h4>
      </mat-card-title>
  </mat-card-header>   
  <mat-card-content>
      <form>            
          <mat-form-field>
              <input matInput [(ngModel)]="registerData.username" name="username" matInput placeholder="username" required>
          </mat-form-field>
          <br>
          <mat-form-field>
              <input matInput [(ngModel)]="registerData.pwd" name="password" placeholder="password" type="password" required>
          </mat-form-field>
          <br>
          <button (click)="post()" mat-raised-button color="primary" type="submit">Register</button>
      </form>
  </mat-card-content>
</mat-card>